body {
    background-color: white;
}

.body {
    width: 600px;
    height: 500px;
    margin: auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
}

.body h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    text-align: center;
    color: purple
    padding: 2px 0px;
    
}

#quiz {
    display: none;
}

#highscore {
    display: none;
}


#score {
    color: purple;
    text-align: center;
    font-size: 30px;
}
#gameover {
    display: none;
}

.body #question {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: white;
    width: 300px;
    font-size: 20px;
    color: black
    border: 1px solid;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    opacity: 50% ;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#completion {
    color: #2b2b2b;
    font-size: 18px;
}